.player{
  border-radius: 25px;
  height: 5vh;
  width: 5vw;
  z-index: 5;
  margin-top: 1vh;
  margin-right: auto;
  margin-left: auto;
}

.player1 {
  background-color: red;
}

.item {
  height: 100%;
  width: 100%;
  z-index: 5;
  background-position: center;
  background-size: cover;
  background-image: url("./images/redSword.jpg")
}

.exit {
  height: 100%;
  width: 100%;
  z-index: 5;
  background-position: center;
  background-size: cover;
  background-image: url("./images/redExit.png")
}

.door{
  height: 100%;
  width: 100%;
  z-index: 5;
  margin:auto;
  background-position: center;
  background-size: cover;
  background-color: orangered;
}

.
