.zdex{
  z-index: 5;
}
.player{
  border-radius: 50%;
  height: 90%;
  width: 90%;
  margin: auto;
}
.item {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.redItem1 {
  background-image: url("./images/redSword.jpg")
}
.redItem2 {
  background-image: url("./images/redSword.jpg")
}
.exit {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.redExit {
  background-image: url("./images/redExit.png")
}
.door{
  height: 100%;
  width: 100%;
  margin:auto;
  background-position: center;
  background-size: cover;
  background-color: burlywood;
}
.winning{
  background-image: url("./images/winning1.gif");
  background-position: center;
  background-size: cover;
}
.losing{
  background-image: url("./images/losing.gif");
  background-position: center;
  background-size: cover;
}
